In [6]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(".."))
from src.data_preprocessing import preprocess
from src.train_test_split import split
from src.train_model import trainmodel
from src.evaluation import evaluate
import numpy as np

In [7]:
#1.DATA LOADING

In [8]:
data=pd.read_csv('../data/house_price_dataset.csv')

In [9]:
data.head()

,Id,Area_sqft,Bedrooms,Bathrooms,Age_of_house,Distance_from_city_km,Price
0,1,3674.0,2.0,1.0,22.0,35,17230879
1,2,1360.0,1.0,2.0,23.0,30,5518126
2,3,1794.0,2.0,1.0,43.0,30,8484164
3,4,1630.0,1.0,1.0,12.0,35,8041689
4,5,1595.0,4.0,2.0,21.0,19,9695333

In [10]:
price_in_general=data['Price'].median()

In [11]:
for column in data :
    print(column)

Id
Area_sqft
Bedrooms
Bathrooms
Age_of_house
Distance_from_city_km
Price

In [12]:
data.describe()

,Id,Area_sqft,Bedrooms,Bathrooms,Age_of_house,Distance_from_city_km,Price
count,1000.000000,950.000000,960.000000,970.000000,975.000000,1000.00000,1.000000e+03
mean,500.500000,2303.303158,2.983333,2.477320,25.048205,19.92000,1.212127e+07
std,288.819436,1026.129905,1.418533,1.137593,14.449684,11.20773,5.144871e+06
min,1.000000,501.000000,1.000000,1.000000,0.000000,1.00000,2.107401e+06
25%,250.750000,1429.250000,2.000000,1.000000,13.000000,10.00000,7.723145e+06
50%,500.500000,2257.500000,3.000000,2.000000,25.000000,20.00000,1.184140e+07
75%,750.250000,3278.500000,4.000000,4.000000,38.000000,29.00000,1.687019e+07
max,1000.000000,3999.000000,5.000000,4.000000,49.000000,39.00000,2.204777e+07

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     1000 non-null   int64
 1   Area_sqft              950 non-null    float64
 2   Bedrooms               960 non-null    float64
 3   Bathrooms              970 non-null    float64
 4   Age_of_house           975 non-null    float64
 5   Distance_from_city_km  1000 non-null   int64
 6   Price                  1000 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 54.8 KB

In [14]:
##This data consists of 6 columns and 1000 unique entries,in which 4 columns have null entries,
##Now that we have identified the null entries we'll have to replace it with appropriate values.

In [15]:
data.isnull().sum()

Id                        0
Area_sqft                50
Bedrooms                 40
Bathrooms                30
Age_of_house             25
Distance_from_city_km     0
Price                     0
dtype: int64

In [16]:
data.describe()

,Id,Area_sqft,Bedrooms,Bathrooms,Age_of_house,Distance_from_city_km,Price
count,1000.000000,950.000000,960.000000,970.000000,975.000000,1000.00000,1.000000e+03
mean,500.500000,2303.303158,2.983333,2.477320,25.048205,19.92000,1.212127e+07
std,288.819436,1026.129905,1.418533,1.137593,14.449684,11.20773,5.144871e+06
min,1.000000,501.000000,1.000000,1.000000,0.000000,1.00000,2.107401e+06
25%,250.750000,1429.250000,2.000000,1.000000,13.000000,10.00000,7.723145e+06
50%,500.500000,2257.500000,3.000000,2.000000,25.000000,20.00000,1.184140e+07
75%,750.250000,3278.500000,4.000000,4.000000,38.000000,29.00000,1.687019e+07
max,1000.000000,3999.000000,5.000000,4.000000,49.000000,39.00000,2.204777e+07

In [17]:
##replaced null values in area_in_sqft ,age_of_the_house with the median values of the column,
##replaced null values in Bedrooms,Bathrooms with mode values of the column as we want to replace with the values with typical values not make signficant changes in the data overall

In [18]:
#2.DATA PREPROCESSING

In [19]:
x,y,pre_processed_data=preprocess(data)

In [20]:
pre_processed_data.isnull().sum()

Id                       0
Area_sqft                0
Bedrooms                 0
Bathrooms                0
Age_of_house             0
Distance_from_city_km    0
Price                    0
dtype: int64

In [21]:
x

     Area_sqft  Bedrooms  Bathrooms  Age_of_house  Distance_from_city_km
0       3674.0       2.0        1.0          22.0                     35
1       1360.0       1.0        2.0          23.0                     30
2       1794.0       2.0        1.0          43.0                     30
3       1630.0       1.0        1.0          12.0                     35
4       1595.0       4.0        2.0          21.0                     19
..         ...       ...        ...           ...                    ...
995     3677.0       4.0        4.0          15.0                     16
996     2628.0       2.0        3.0          11.0                     17
997     2680.0       4.0        2.0           1.0                     26
998     1296.0       2.0        3.0          40.0                      2
999     3447.0       5.0        3.0          23.0                     12

[1000 rows x 5 columns]

In [22]:
y

0      17230879
1       5518126
2       8484164
3       8041689
4       9695333
         ...
995    21091898
996    14225063
997    14507029
998     7196281
999    18953552
Name: Price, Length: 1000, dtype: int64

In [23]:
#3.TRAIN AND TEST SPLIT

In [24]:
x_train,x_test,y_train,y_test= split(x,y)

In [25]:
x_train

     Area_sqft  Bedrooms  Bathrooms  Age_of_house  Distance_from_city_km
40      1475.0       2.0        2.0          26.0                     32
977     3285.0       2.0        3.0          37.0                      3
829     1756.0       5.0        1.0           3.0                     23
973     2257.5       1.0        2.0          32.0                     17
874     2081.0       4.0        1.0          48.0                      3
..         ...       ...        ...           ...                    ...
400     1459.0       4.0        3.0          24.0                      3
118     1652.0       5.0        3.0          17.0                     28
701     3002.0       4.0        2.0          44.0                      1
206     3919.0       1.0        1.0          43.0                     37
867     1428.0       5.0        3.0          31.0                     28

[800 rows x 5 columns]

In [26]:
x_test

     Area_sqft  Bedrooms  Bathrooms  Age_of_house  Distance_from_city_km
544     2431.0       5.0        2.0           3.0                     12
515     1273.0       5.0        3.0           2.0                     17
193     3104.0       2.0        1.0          27.0                      3
11      1982.0       3.0        3.0          28.0                      1
279     2691.0       5.0        4.0           1.0                     15
..         ...       ...        ...           ...                    ...
860      540.0       4.0        1.0           8.0                      9
379     3235.0       2.0        3.0           8.0                     21
896     2693.0       4.0        2.0          23.0                      1
809      633.0       3.0        2.0           9.0                     27
165     1538.0       1.0        3.0           4.0                     35

[200 rows x 5 columns]

In [27]:
y_train

40      6806768
977    17702162
829    10220414
973     4472730
874    11392762
         ...
400     8713119
118     9889133
701    16054792
206    17983836
867     9030290
Name: Price, Length: 800, dtype: int64

In [28]:
y_test

544    13892948
515     8978914
193    15969855
11     11615188
279    16270021
         ...
860     4518095
379    17252739
896    14781605
809     4465751
165     6810284
Name: Price, Length: 200, dtype: int64

In [29]:
#4.TRAIN MODEL

In [30]:
##using Linear Regression from sci-kit learn to train the model

In [31]:
#5.PREDICT

In [32]:
model=trainmodel(x_train,y_train)

In [32]:
y_predicted=model.predict(x_test)

In [33]:
y_predicted

array([13687865.98957743,  7983914.05007222, 15933167.03272096,
       11092024.51754846, 15314538.20157653,  9863302.38337725,
       15771657.63545475, 11394868.50668625, 11558923.11502559,
       12789340.57368446, 10767654.5717379 , 11588645.30480256,
       11826759.19135187,  9736710.77749838,  9760582.89447748,
       16928072.19568945, 13100182.61512296, 10232477.64732511,
        8129307.66284411, 14230646.68315815,  4961023.077727  ,
        4347483.1788612 , 12880752.63863758, 16525239.07174342,
       11450821.71541533, 12785253.38365269,  7549298.8066122 ,
       10632717.50719368,  9149097.84496648, 20149477.48346775,
        8780336.62720987,  5979567.16275644, 16942882.73397551,
       11924512.41172078,  9555406.96037189,  6604346.23270937,
        6174529.62195426, 13375586.92354904, 19510129.11025058,
       16420180.43218379, 16477552.3054658 ,  3828330.45793965,
       17225287.33292377, 17989041.72563027, 11210742.76233936,
       20361856.79154401, 14033468.4419585 ,  6265247.89014126,
        8909364.11628137,  4146102.22409857, 17901862.15154931,
       12604220.95556637, 20581042.81174648,  9488041.52376596,
        9553495.00204316, 21064042.49423844, 16945249.62989461,
       11431030.7120124 , 19274090.03923547,  7841725.5230646 ,
        6130542.91496112,  6457571.1179448 , 19383942.94708751,
       12054899.41897504, 20876731.36403338, 19941146.04955865,
        4463809.85893536, 12352295.31482635,  4343126.54577802,
       17949170.52701391,  9901028.44115656, 12338487.88509521,
       13403697.69325255,  3725274.86727753,  7875719.08614152,
       13636140.65160431,  9144121.1355675 , 13224092.62757004,
       13612369.9247228 ,  8685237.298497  , 12801517.86175099,
       20002612.5805051 ,  5661424.12726653, 11441084.31376874,
       17570204.38450704, 12604846.32843073,  6604441.43235637,
       13072573.92013768, 19342099.3012784 , 11767470.22604096,
        5924009.52528125, 17758944.70479459, 12373475.40812494,
       11383021.67473852, 18769307.10497621,  6046127.32244488,
       11116403.73420045, 11355369.55302   , 11674321.22692621,
       12541550.97244231,  7327752.92547144,  9411183.89778898,
       13168546.93105572, 19597795.36503854, 11433356.3730065 ,
       18810928.42139249,  7074834.26642947, 10044780.56417845,
       17196296.88385101, 10773597.2325015 , 12155563.48945871,
       12115550.92627691, 17483359.39897195, 19773136.28127325,
        5623282.6887968 , 11798728.78913574,  5883584.47640816,
        7901731.60357118, 14171484.00011848, 10902811.14898319,
       20042806.21743063,  3977949.34219605, 15290041.7391002 ,
        7645972.00136441,  4219319.22474442, 11021760.21100639,
        4157163.43601674, 14571439.01492977, 12419896.25725369,
        3952575.31890162, 14310342.29951833, 19688050.97406794,
       12858572.26036591, 17222131.47686493, 18931366.00770616,
       10950396.08194134, 13239833.63190058, 19459574.64730718,
       15760557.92306745, 20005249.3940904 ,  3756557.78404322,
        5164354.78490516,  8875024.07019622,  6633734.70108395,
       20049827.38443956, 18907011.31556813, 15968178.36198981,
        9076357.42952517, 11180672.23065241, 14469964.51231938,
        5619767.47859344, 19897615.57274151,  4968313.30062856,
       15962974.61861954,  6640586.40843802, 16072482.26548773,
        7002568.41706732,  5121392.89264854,  9995348.38835891,
        2605088.75456721, 19951822.28677911, 15729821.06658938,
        7770626.93552923, 17570950.90594248, 10039697.27950357,
        7116170.55075689, 18101144.09122495, 10843861.59420128,
        4508517.92092229, 14253963.58435743, 11823805.9864093 ,
       20829777.40504482,  9577954.72936161, 11735215.3143685 ,
       14680862.70517041,  9333918.69198034, 12263555.53815923,
        5142541.5046393 ,  6357568.43983324, 17119370.97904091,
        9770010.43874325, 18922217.89704875,  3673569.43915086,
        4251139.78773007,  6066302.42709735,  5524029.72152246,
       18047001.74618446, 15363315.58136783,  5071311.10507368,
       18242205.13327204,  9979865.98995362, 13959490.06542355,
        7604214.45145811,  4384087.46047587, 14021953.7709132 ,
        3768417.85741169, 16657503.7936289 , 14806606.19916947,
        3641780.10812344,  7536634.46296926])

In [34]:
#5.EVALUATION AND CONVERSION INTO SERIES

In [38]:
result,y_predicted=evaluate(y_predicted,x_test,y_test)

In [39]:
result

{'mse': 1228549473599.635,
 'rmse': np.float64(1108399.5099239422),
 'r2': 0.9516482655735733,
 'error percentage': 9.3}

In [40]:
y_predicted

0      13687865
1       7983914
2      15933167
3      11092024
4      15314538
         ...
195     3768417
196    16657503
197    14806606
198     3641780
199     7536634
Length: 200, dtype: int64

In [41]:
%store y_predicted

Stored 'y_predicted' (Series)

In [42]:
%store y_test

Stored 'y_test' (Series)

In [44]:
%store pre_processed_data

Stored 'pre_processed_data' (DataFrame)

In [36]:
pre_processed_data.to_csv('Processed_file.csv')